<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/03_card" target="_blank">Target</a>
</p>

<div class="card" style="width: 18rem;">

  <img src="/img/3.jpeg" class="card-img-top" alt="Image description">
  
  <div class="card-body">
    <p class="card-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, iure laborum id vitae eius enim doloremque! At tempore iusto autem velit quas, voluptatem, fugit cumque, aspernatur voluptate delectus assumenda dolorem.
    </p>
  </div>

  <ul class="list-group list-group-flush">
     <li class="list-group-item">Mercury</li>
    <li class="list-group-item bg-primary text-white">Venus</li>
    <li class="list-group-item bg-secondary text-white">Earth</li>
    <li class="list-group-item bg-success text-dark">Mars</li>
    <li class="list-group-item bg-danger text-dark">Jupiter</li>
    <li class="list-group-item bg-warning text-dark">Saturn</li>
    <li class="list-group-item bg-info text-dark">Uranus</li>
    <li class="list-group-item bg-light text-dark">Neptune</li>
    <li class="list-group-item bg-dark text-white">Pluto</li>
  </ul>

</div>
